## blacklist all ##
*

## whitelist ##
!.gitignore
!Makefile

!packer*
!packer/*
!packer/scripts*
!packer/scripts/*
!packer/scripts/ubuntu*
!packer/scripts/ubuntu/*
!packer/scripts/ubuntu/configuration*
!packer/scripts/ubuntu/configuration/*
!packer/scripts/ubuntu/install*
!packer/scripts/ubuntu/install/*
!packer/templates*
!packer/templates/*
!packer/templates/base*
!packer/templates/base/*
!packer/templates/base/ubuntu16lts*
!packer/templates/base/ubuntu16lts/*
!packer/templates/base/ubuntu16lts/dockerhost*
!packer/templates/base/ubuntu16lts/dockerhost/*
!packer/templates/foundation-ami*
!packer/templates/foundation-ami/*
!packer/templates/foundation-ami/ubuntu16lts*
!packer/templates/foundation-ami/ubuntu16lts/*
!packer/templates/base/ubuntu16lts/nginx-webserver-ami*
!packer/templates/base/ubuntu16lts/nginx-webserver-ami/*
!packer/templates/base/ubuntu16lts/dockerhost-ami*
!packer/templates/base/ubuntu16lts/dockerhost-ami/*

!ansible*
!ansible/*
!ansible/local*
!ansible/local/*
!ansible/foundation-ami*
!ansible/foundation-ami/*
!ansible/local/nginx-webserver-ami*
!ansible/local/nginx-webserver-ami/*